@import '../assets/github-corner.scss';

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

span {
  font-size: 11px;
}

.mat-form-field {
  width: 100%;
  min-width: 100px;

  &.select {
    min-width: 50px;
    max-width: 50px;
  }
}

.ngx-ui-sidenav-close {
  position: absolute;
  padding: 0;
  margin: 0;
  right: 8px;
  top: 8px;
}

.ngx-ui-sidenav-open {
  position: absolute;
  right: 16px;
  top: 16px;
}
