/* You can add global styles to this file, and also import other style files */
@import "~@angular-package/docs/dist/example/src/docs-example.scss"; // added
// @import "./app/src/docs-example.scss"; // added
@import "~@angular-package/docs/dist/api/src/docs-api.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto'); // added
@import "~prismjs/themes/prism.css"; // added
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // added

html, body, material-app, mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
mat-sidenav {
  padding: 16px;
  width: 100%;
  box-shadow: -20px 0 50px -20px rgba(0,0,0,0.1);
  &.xs {
    width: 100vw;
  }
  &.sm {
    width: 35vw;
    @media screen and (max-width: 650px ) {
      width: 100vw;
    }
  }
  &.md {
    max-width: 45vw;
  }
  &.xl,
  &.lg {
    width: 50vw;
  }
}
.my-content {
  flex-direction: column !important;
  width: 100%;
  height: auto;
  padding: 100px 16px;
  padding-bottom: 0px;
}
.mat-drawer-container {
  background-color: #ffffff !important;
  color: rgba(0,0,0,.87);
}
