$mat-angularpackage: (
  50 : #f9e6e8,
  100 : #f0c0c5,
  200 : #e6979f,
  300 : #db6d78,
  400 : #d44d5b,
  500 : #cc2e3e,
  600 : #c72938,
  700 : #c02330,
  800 : #b91d28,
  900 : #ad121b,
  A100 : #ffdedf,
  A200 : #ffabaf,
  A400 : #ff787e,
  A700 : #ff5e66,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

